
# Ignore virtual environments
root310/
root/

# Ignore node modules from static_src
theme/static_src/node_modules/
theme/static_src/root/
theme/static_src/root310/

# Ignore Hugging Face models
aimatching/models
hf_models/

# Ignore migration files
adminpanel/migrations
aimatching/migrations
authapi/migrations
core/migrations
instructors/migrations
scheduler/migrations
scheduling/migrations
students/migrations


theme/templates/aimatching/matching/progress.html
theme/templates/scheduler/schedulerDashboard.html
