{% extends 'base.html' %}
{% block content %}
<h2>Update College</h2>
<form method="post">
  {% csrf_token %}
  <label>Name:</label><br>
  <input type="text" name="name" value="{{ college.name }}"><br><br>

  <label>Acronym:</label><br>
  <input type="text" name="acronym" value="{{ college.acronym }}"><br><br>

  <label>Description:</label><br>
  <textarea name="description">{{ college.description }}</textarea><br><br>

  <button type="submit">Update</button>
</form>
<a href="{% url 'collegeList' %}">Back</a>
{% endblock %}
