{% extends 'base.html' %}
{% block content %}
<h2>Subjects</h2>
<a href="{% url 'subjectCreate' %}">+ Add Subject</a>
<table border="1">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Units</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Course</th>
    <th>Actions</th>
  </tr>
  {% for subject in subjects %}
  <tr>
    <td>{{ subject.subjectCode }}</td>
    <td>{{ subject.subjectName }}</td>
    <td>{{ subject.units }}</td>
    <td>{{ subject.yearLevel }}</td>
    <td>{{ subject.semester }}</td>
    <td>{{ subject.course.courseName }}</td>
    <td>
      <a href="{% url 'subjectUpdate' subject.subjectId %}">Edit</a> |
      <a href="{% url 'subjectDelete' subject.subjectId %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'courseList' %}">← Back to Courses</a>
{% endblock %}
