{% extends 'base.html' %}
{% block content %}
<h2>Update Subject</h2>
<form method="post">
  {% csrf_token %}
  <label>Code:</label><br>
  <input type="text" name="subjectCode" value="{{ subject.subjectCode }}"><br><br>

  <label>Name:</label><br>
  <input type="text" name="subjectName" value="{{ subject.subjectName }}"><br><br>

  <label>Units:</label><br>
  <input type="number" name="units" value="{{ subject.units }}"><br><br>

  <label>Year Level:</label><br>
  <input type="number" name="yearLevel" value="{{ subject.yearLevel }}"><br><br>

  <label>Semester:</label><br>
  <select name="semester">
    <option value="1st" {% if subject.semester == '1st' %}selected{% endif %}>1st</option>
    <option value="2nd" {% if subject.semester == '2nd' %}selected{% endif %}>2nd</option>
    <option value="Summer" {% if subject.semester == 'Summer' %}selected{% endif %}>Summer</option>
  </select><br><br>

  <label>Course:</label><br>
  <select name="course">
    {% for course in courses %}
    <option value="{{ course.courseId }}" {% if subject.course.courseId == course.courseId %}selected{% endif %}>{{ course.courseName }}</option>
    {% endfor %}
  </select><br><br>

  <button type="submit">Update</button>
</form>
<a href="{% url 'subjectList' %}">Back</a>
{% endblock %}
